@import '../variables.scss';

.root {

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

table tr {
  th, td {
    text-align: left;
    padding: 5px 30px 5px 10px;
  }
}
