---
title: RubyConf Bangladesh
component: ContentPage
---
div
  div
    h2 RubyConf Bangladesh 2017
    p.
      Ruby developer community of Bangladesh is going to arrange Ruby conference. The aim is to promote
      and share the knowledge of Ruby language to the developer community. Call for proposal is open. We would ask you to
      submit your talk proposal. We are interested in both Ruby focused and some non Ruby focused talks.
    p.
      Seat availability is limited. Please register to confirm your attendance. For details please visit
      <a href="http://rubybd.org">http://rubybd.org</a>. Looking forward to see you at the conference.
  div
    h3 Date
    p 22 April, 2017

    h3 Venue
    p UGC Auditorium, Dhaka, Bangladesh

  div
    h3 Program Outline
    table
      tr
        th Time
        th Event
      tr
        td 09:00 – 10:00
        td Registration
      tr
        td 10:00 – 01:00
        td Presentations
      tr
        td 01:00 – 02:30
        td Lunch Break
      tr
        td 02:30 – 04:00
        td Presentations
      tr
        td 04:00 – 04:30
        td Snack Break
      tr
        td 04:30 – 05:30
        td Lightning Talk & Discussion
      tr
        td 06:30 – 08:30
        td After event hangout with speakers and guests
